@charset "UTF-8";
/*
## Cores

#FBFBFB

#05ADAD

#036E6E
*/
* {
    background-color: #05ADAD;
    font-family:  Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: normal;
    margin: 0%;
    padding: 0%;    
} 
body {
    height: 990px;
}
p {
    font-weight: 500;
    font-size: 1.1em;
}
/*----------MENU ---------- LOGO----------*/

#logo {
    background-color: #FBFBFB;
    position: absolute;
    left: 16%;
}
header {
    height: 6.1%;
    background-color: #FBFBFB;
}
    header #menu {
        background-color: #FBFBFB;
        margin: 0% 2.5%;
        position: absolute;
        left: 28%;
        top: 3%;
    }
        header #menu a {
            background-color: #FBFBFB;
            color: black;
            text-decoration: none;
            font-weight: normal;
            font-size: 1.55em;
            margin: 0% 60px;
        }
/*---------------FIM DA CONF---------------*/


/*-----------PRINCIPAL SOBRE VC------------*/

/*IMAGE*/
#minhafoto {
    position: relative;
    border-radius: 50%;
    top: 0%;
    left: 16%;
}
main{
    height: 90%;
}
    article{
        position: absolute;
        left: 20%;
        top: 30%;
        height: 15%;
        margin: 0% 16.5% 0% 9.5%;
    }
    h1 {
        position: relative;
        font-weight: 500;
        font-size: 2.1em;
        margin: 2% 16%;
        
    }
/*---------------FIM DA CONF---------------*/




/*-------PRINCIPAL CONHECIMENTOS-------*/
#conhecimentos {
    text-align: center;
}
#skills {
    background-color: #036E6E;
    position: relative;
    height: 30%;
    margin: 2% 16%;
    border-radius: 10px;
}
        #skills a {
            display: inline-block;
            text-decoration: none;
            color: #FBFBFB;
            list-style-type: none;
            font-weight: 200;
            font-size: 1.5em;
            margin: 1% 7.4%;
            border-radius: 8px;
            box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.486);
            padding: 5px 20px;
        }
        a > #padrao{
            position: absolute;
            top: 40%;
            left: 7%;
            width: 90%;
            background-color: #036E6E;  
            height: 50%;
            font-size: 14pt;
        }
        a > .info {
            position: absolute;
            top: 40%;
            width: 90%;
            left: 7%;
            background-color: #036E6E;  
            height: 50%;
            font-size: 14pt;
        }
        a > .info {
            display: none;
        }
            a:active > .info{
                display: block;
            }

/*---------------FIM DA CONF---------------*/

/*------------PRINCIPAL CONTATO------------*/

#contato {
    height: 26%;
    margin: 2% 16%;
}
    #tcontato {
        font-weight: bold;
        font-size: 1.7em;
        left: -13%;
    }
    #listc {
        list-style-type: none;
        position: relative;
        top: -70%;
        left: 14%;
        width: 60%;
    }
    #listc li{
        color: black;
        text-decoration: none;
        font-size: 1.2em;
        margin: 0px 0px 35px 0px;   
    }
    #listc li > a {
        color: black;
        text-decoration: none;
    }

/*-------------FOOTER CONF--------------*/
footer {
    background-color: #FBFBFB;
    height: 4%;
}
    #rdp {
        background-color: #FBFBFB;
        text-align: center;
        font-size: 1.3em;
        font-weight: 400;
    }
        #heart {
            display: inline-block;
            background-color: #FBFBFB;
            
        }