@charset "UTF-8";
/*
## Cores

#FBFBFB

#05ADAD

#036E6E
*/
* {
    background-color: #05ADAD;
    font-family:  Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: normal;
    margin: 0px;
    padding: 0px;
    
} 
/*----------MENU ---------- LOGO----------*/

#logo {
    background-color: #FBFBFB;
    position: absolute;
    left: 140px;
}
header {
    border: solid 3px black;
    height: 70px;
    background-color: #FBFBFB;
}
    header #menu {
        background-color: #FBFBFB;
       
        position: absolute;
        left: 325px;
        top: 18px;
    }
        header #menu a {
            background-color: #FBFBFB;
            color: black;
            text-decoration: none;
            font-size: 18pt;
            font-weight: normal;
            margin: 45px 60px;
        }
/*---------------FIM DA CONF---------------*/


/*-----------PRINCIPAL SOBRE VC------------*/

h1 {
    position: relative;
    border: black solid 2px;
    margin: 0px 140px;
    
}