@charset "UTF-8";
/*
## Cores

#FBFBFB

#05ADAD

#036E6E
*/
* {
    background-color: #05ADAD;
    font-family:  Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: normal;
    
    padding: 0px;
    
} 
body {
    height: 900px;
}
/*----------MENU ---------- LOGO----------*/

#logo {
    background-color: #FBFBFB;
    position: absolute;
    left: 16%;
}
header {
    border: solid 3px black;
    height: 9%;
    background-color: #FBFBFB;
}
    header #menu {
        background-color: #FBFBFB;
        margin: 0% 2.5%;
        position: absolute;
        left: 28%;
        top: 4%;
    }
        header #menu a {
            background-color: #FBFBFB;
            color: black;
            text-decoration: none;
            font-size: 1.55em;
            border: solid black 1px;
            font-weight: normal;
            margin: 0% 59px;
        }
/*---------------FIM DA CONF---------------*/


/*-----------PRINCIPAL SOBRE VC------------*/

/*IMAGE*/
#minhafoto {
    position: relative;
    border: black solid 2px;
    border-radius: 50%;
    top: 0%;
    left: 16%;
}
main{
    border: black solid 2px;
    height: 88%;
}
    article{
        position: absolute;
        border: black solid 2px;
        left: 20%;
        top: 33%;
        height: 15%;
        margin: 0% 16.5% 0% 9.5%;
    }
    h1 {
        position: relative;
        font-weight: 600;
        border: black solid 2px;
        margin: 2% 16%;
        
    }
/*---------------FIM DA CONF---------------*/




/*-------PRINCIPAL CONHECIMENTOS-------*/
#conhecimentos {
    text-align: center;
}
#skills {
    background-color: #036E6E;
    position: relative;
    border: black solid 2px;
    height: 40%;
    margin: 2% 16%;
    border-radius: 10px;
}
        #skills a {
            display: inline-block;
            text-decoration: none;
            color: #FBFBFB;
            list-style-type: none;
            font-weight: 200;
            font-size: 1.5em;
            margin: 1% 7.4%;
            border-radius: 8px;
            box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.486);
            padding: 5px 20px;
        }
        .info {
            position: absolute;
            font-weight: 200;
            font-size: 1em;
            top: 30;
            width: 50%;
            height: 50%;
            
        }
        a > p {
            display: block;
        }
            a:active > p{
                display: block;
            }
        


/*---------------FIM DA CONF---------------*/




/*-------------FOOTER CONF--------------*/
footer {
    border: black solid 3px;
    height: 4%;
}